@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Amatic+SC:wght@400;700&family=Quintessential&display=swap');


img{
  width: 100%;
  height: auto;
}

.background{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -0%);
  opacity: 0.25;
  max-width: 500px;
  z-index: -1;
}

p, a{
  font-family: "Quintessential";
  margin: 0px;
}

h2{
  font-family: "Almendra";
  margin: 0px;
  color: #41351d;
}

header{
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid goldenrod;
}

header img{
  max-width: 500px;
  display: block;
  margin: auto;
}

.characteristics-input{
  margin: 5px;
  padding: 20px;
  border-bottom: 1px solid goldenrod;
}

.characteristics-input form{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.characteristics-input form #spell-bonus{
  max-width: 50px;
}

.spell-select{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.characteristics-shown{
  text-align: center;
  margin: 20px;
}

.characteristics-shown p{
  display: inline-block;
}

.characteristics-shown button{
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.spells-section{
  min-height: 80vh;
}

.character-spell-list{
  margin: 10px;
  border-top: 1px solid goldenrod;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.spell-section{
  margin: 10px;
  width: 200px;
}

.slots-and-names{
  border: 2px solid black;
  border-radius: 7%;
  max-width: 200px;
  background-color: white;
  padding: 5px;
}

.slots-and-names p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.slots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spell-slots{
  align-self: center;
}

input[type="checkbox"]{
  margin-left: 5px;
  margin-right: 5px;
}

.spell-names p {
  border-bottom: 1px solid black;
}

.spell-popup{
  background-color: #d1bc8e;
  margin: auto;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 7%;
  max-width: 450px;
  padding: 10px;
  
}

.clickable:hover{
  cursor: pointer;
  color: rgb(197, 142, 2);
  font-style: bold;
}

.spell-popup-header{
  border-bottom: 1px solid black;
  position: relative;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.spell-popup p {
  margin-top: 5px;
}

.spell-popup h2{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.close{
  position: absolute;
  padding-bottom: 2px;
  top: 3%;
  left: 90%;
}

.close:hover{
  cursor: pointer;
  color: red;
}

.hidden{
  display: none;
}

footer{
  margin-top: 10px;
  text-align: center;
}